*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16 px;
}
body{
    background-color:rgb(5, 37, 27)
}
main {
    background-color: bisque;
    width: 500px;
    margin: auto;
    padding: 10 px;
    box-shadow: 3 px 3 px 5px blue;
}